mixin advantage(icon='../../img/icons/calendar.svg', title='Title Goes Here', text='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, fuga incidunt. Nesciunt adipisci praesentium dolor doloremque quod suscipit, culpa dicta, exercitationem facere quae beatae dolore necessitatibus laudantium cum a laborum.')
    .b-advantages__item
        .b-advantages__icon(style='background-image:url('+icon+')')
        .b-advantages__title.b-advantages__title_ident=title
        .b-advantages__desc=text