mixin menu(addClass='')
    ul.b-menu(class=addClass)
        li.b-menu__item 
            a.b-menu__link(href='#') Home
        li.b-menu__item
            a.b-menu__link(href='#') Service
        li.b-menu__item
            a.b-menu__link(href='#') Extrnsion
        li.b-menu__item
            a.b-menu__link(href='#') Pricing
        li.b-menu__item
            a.b-menu__link(href='#') Help