mixin social
    .b-social.b-social_ident
        .b-social__item
            svg
                use(xlink:href='./img/icons/twitter.svg#twitter')
        .b-social__item
            svg
                use(xlink:href='./img/icons/facebook.svg#facebook')
        .b-social__item
            svg
                use(xlink:href='./img/icons/in.svg#in')
        .b-social__item
            svg
                use(xlink:href='./img/icons/basketball.svg#basketball')
        .b-social__item
            svg
                use(xlink:href='./img/icons/vk.svg#vk')