extends ./layouts/_head.pug

block content
    include ./blocks/_useful.pug
    include ./blocks/_usage.pug
    include ./blocks/_services.pug
    include ./blocks/_reviews.pug
    include ./blocks/_team.pug
    include ./blocks/_contact.pug