.b-slider
    .b-slider__items.js-slick
        .b-slider__item
            .b-slider__wrapper-item
                .b-slider__avatar-wrapper
                    .b-slider__avatar(style="background-image: url('./img/avatar-1.png')")
                .b-slider__content
                    .b-slider__name Jon Doe
                    .b-slider__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis blanditiis sit dolorum pariatur velit quaerat nemo, repellat, voluptatibus ullam delectus in sint ipsum aspernatur sunt fugit nesciunt adipisci harum ipsa!
        .b-slider__item
            .b-slider__wrapper-item
                .b-slider__avatar-wrapper
                    .b-slider__avatar(style="background-image: url('./img/avatar-2.png')")
                .b-slider__content
                    .b-slider__name Khalessi
                    .b-slider__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iste odit optio. Maxime impedit hic corrupti laborum fugit dolores. Quas omnis ab numquam. Placeat, quam qui vel dolorum tenetur fugiat!
        .b-slider__item
            .b-slider__wrapper-item
                .b-slider__avatar-wrapper
                    .b-slider__avatar(style="background-image: url('./img/avatar-1.png')")
                .b-slider__content
                    .b-slider__name Jon Doe
                    .b-slider__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis blanditiis sit dolorum pariatur velit quaerat nemo, repellat, voluptatibus ullam delectus in sint ipsum aspernatur sunt fugit nesciunt adipisci harum ipsa!
        .b-slider__item
            .b-slider__wrapper-item
                .b-slider__avatar-wrapper
                    .b-slider__avatar(style="background-image: url('./img/avatar-2.png')")
                .b-slider__content
                    .b-slider__name Khalessi
                    .b-slider__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iste odit optio. Maxime impedit hic corrupti laborum fugit dolores. Quas omnis ab numquam. Placeat, quam qui vel dolorum tenetur fugiat!
    .b-slider__buttons
        .b-slider__buttons-wrapper
            //- button.b-slider__up
            //- button.b-slider__down
