.b-slide-team
    .b-slide-team__items#slide-team
        .b-slide-team__item.desabled
            .b-slide-team__avatar-wrapper
                .b-slide-team__img.image-1
        .b-slide-team__item
            .b-slide-team__avatar-wrapper
                .b-slide-team__img.image-2
        .b-slide-team__item.desabled
            .b-slide-team__avatar-wrapper
                .b-slide-team__img.image-3
        .b-slide-team__item.desabled
            .b-slide-team__avatar-wrapper
                .b-slide-team__img.image-1
        .b-slide-team__item.desabled
            .b-slide-team__avatar-wrapper
                .b-slide-team__img.image-3
    .b-slide-team__about
        .b-slide-team__name Sophie Turner
        .b-slide-team__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente neque delectus aspernatur exercitationem. Libero corporis aliquam, sint mollitia rerum sed temporibus quas quae consequuntur, aperiam accusantium error architecto vero. Eligendi.
