.b-tooltip
    .b-tooltip__items
        .b-tooltip__wrapper
            .b-tooltip__item
                .b-tooltip__top
                    .b-tooltip__icon
                        svg
                            use(xlink:href='./img/icons/graphic.svg#graphic')
                    .b-tooltip__title STATISTICS
                    .b-tooltip__pointer
                        svg
                            use(xlink:href='./img/icons/sort-down.svg#sort-down')
                .b-tooltip__content.b-tooltip__content__ident
                    .b-tooltip__content-wrapper
                        .b-tooltip__img.b-tooltip__img__ident
                        .b-tooltip__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptatibus quo molestiae quaerat, blanditiis dolores voluptate beatae accusantium soluta incidunt nesciunt distinctio aperiam. Odit delectus eum animi debitis obcaecati sunt.
            .b-tooltip__item
                .b-tooltip__top
                    .b-tooltip__icon
                        svg
                            use(xlink:href='./img/icons/graphic.svg#graphic')
                    .b-tooltip__title INBOX
                    .b-tooltip__pointer
                        svg
                            use(xlink:href='./img/icons/sort-down.svg#sort-down')
                .b-tooltip__content.b-tooltip__content__ident
                    .b-tooltip__content-wrapper
                        .b-tooltip__img.b-tooltip__img__ident
                        .b-tooltip__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptatibus quo molestiae quaerat, blanditiis dolores voluptate beatae accusantium soluta incidunt nesciunt distinctio aperiam. Odit delectus eum animi debitis obcaecati sunt.
            .b-tooltip__item
                .b-tooltip__top
                    .b-tooltip__icon
                        svg
                            use(xlink:href='./img/icons/graphic.svg#graphic')
                    .b-tooltip__title TEAM
                    .b-tooltip__pointer
                        svg
                            use(xlink:href='./img/icons/sort-down.svg#sort-down')
                .b-tooltip__content.b-tooltip__content__ident
                    .b-tooltip__content-wrapper
                        .b-tooltip__img.b-tooltip__img__ident
                        .b-tooltip__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptatibus quo molestiae quaerat, blanditiis dolores voluptate beatae accusantium soluta incidunt nesciunt distinctio aperiam. Odit delectus eum animi debitis obcaecati sunt.
            .b-tooltip__item
                .b-tooltip__top
                    .b-tooltip__icon
                        svg
                            use(xlink:href='./img/icons/graphic.svg#graphic')
                    .b-tooltip__title SETTINGS
                    .b-tooltip__pointer
                        svg
                            use(xlink:href='./img/icons/sort-down.svg#sort-down')
                .b-tooltip__content.b-tooltip__content__ident
                    .b-tooltip__content-wrapper
                        .b-tooltip__img.b-tooltip__img__ident
                        .b-tooltip__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptatibus quo molestiae quaerat, blanditiis dolores voluptate beatae accusantium soluta incidunt nesciunt distinctio aperiam. Odit delectus eum animi debitis obcaecati sunt.
            .b-tooltip__item
                .b-tooltip__top  
                    .b-tooltip__icon
                        svg
                            use(xlink:href='./img/icons/graphic.svg#graphic')
                    .b-tooltip__title FEED
                    .b-tooltip__pointer  
                        svg
                            use(xlink:href='./img/icons/sort-down.svg#sort-down')
                .b-tooltip__content.b-tooltip__content__ident
                    .b-tooltip__content-wrapper
                        .b-tooltip__img.b-tooltip__img__ident
                        .b-tooltip__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptatibus quo molestiae quaerat, blanditiis dolores voluptate beatae accusantium soluta incidunt nesciunt distinctio aperiam. Odit delectus eum animi debitis obcaecati sunt.