section.b-contact.b-contact__outer
    .b-contact__head
        h2.b-contact__title Contact Us
        .b-contact__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dicta tempora voluptas aperiam eaque, a veniam et officiis pariatur, quo cupiditate nesciunt ipsa fuga maxime asperiores obcaecati odit commodi? Aliquam.
    form.b-contact__form-block.b-contact__form-block_ident
        div.b-contact__form-field.name
            input(type="text" placeholder="Name")
        div.b-contact__form-field.email
            input(type="text" placeholder="Email")
        div.b-contact__form-field.phone
            input(type="text" placeholder="Phone")
        div.b-contact__form-field.address
            input(type="text" placeholder="Address")
        div.b-contact__form-field.textarea
            textarea.b-contact__form-textarea(placeholder="Description" rows=7)
        .b-contact__form-footer
            .b-contact__field-wrapper
                input(type="checkbox")
                span subscribe to the newsletter
            button.btn-light-green(type="submit") Send
