footer.b-footer.b-footer__outer
    .b-footer__inner.b-footer__wrapper
        .b-footer__top.b-footer__row
            .b-footer__logo
                +logo
            nav.b-footer__nav
                +menu
        .b-footer__bottom.b-footer__row
            .b-footer__sections
                div.b-footer__section
                    p Privecy Policy
                div.b-footer__section
                    p About Us
                div.b-footer__section
                    p About Us copy
            .b-footer__social
                +social
    include ./_scripts.pug