header.b-header.b-header__outer
    .b-header__inner
        .b-header__top.b-header__top_offset-top
            include ../parts/_main-menu.pug
        .b-header__main
            .b-header__main-wrapper
                .b-header__description
                    h1.b-header__title lorem Ipsum Dolor sit amet
                    .b-header__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, numquam tempore aliquid ut quidem quae ullam expedita commodi possimus alias accusamus incidunt suscipit quos. Ab nobis unde magnam nostrum voluptate.
                    .b-header__btn-block
                        button.btn-blue BUY NOW
                        button.btn TRY FOR FREE
                .b-header__video
                    .b-header__play-btn.b-header__play-btn_indent
                    .b-header__video-desc WATCH THE VIDEO