section.b-reviews.b-reviews__outer
    .b-reviews__inner
        .b-reviews__wrapper
            .b-reviews__content
                .b-reviews__title What our customers have to say about us.
                .b-reviews__desc.b-reviews__desc_ident Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus eaque, atque, vitae praesentium placeat repudiandae consequatur harum quidem magnam perferendis nam. Dolor ipsam quam accusamus quibusdam, laborum delectus assumenda.
                button.b-reviews__button.btn-blue GET STARTED
            .b-reviews__slider-block
                include ../parts/_slider.pug