section.b-services.b-services__outer
    .b-services__wrapper-head
        h2.b-services__title Services
        .b-services__desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus deleniti voluptates quae tempora atque magni, aperiam non eveniet officia architecto ex&nbsp;vel. Optio, cumque laudantium excepturi in&nbsp;nobis veniam! At?
    .b-services__content
        include ../parts/_tooltip.pug
