section.b-team.b-team__outer
    .b-team__wrapper-head
            h2.b-team__title Our Team
            .b-team__desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus deleniti voluptates quae tempora atque magni, aperiam non eveniet officia architecto ex&nbsp;vel. Optio, cumque laudantium excepturi in&nbsp;nobis veniam! At?
    .b-team__content
        include ../parts/_slide-team.pug
        .b-team__social.b-team__social_ident
            +social
