section.b-usage
    +usage('aqua', './img/icons/download.svg#download', '12000+', 'Business')
    +usage('heavenly', './img/icons/contract.svg#contract', '60000+', 'Downloads')
    +usage('purple', './img/icons/download.svg#download', '30000+', 'Free installs')
    +usage('pink', './img/icons/contract.svg#contract', '40000+', 'Pro Users')

