section.b-useful.b-useful__outer
    .b-useful__inner
        .b-useful__slogans
            h1.b-useful__title Easy & Useful
            .b-useful__subtitle.b-useful__subtitle_ident Project Managment Tools
            .b-useful__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae magni natus quod consequuntur, facilis vero numquam libero? Sunt quibusdam nam ratione modi, aspernatur asperiores itaque magni ea ut dicta corporis.
        .b-useful__content
            include ../parts/_advantages.pug
        .b-useful__btn
            button.btn-light-green GET STARTED
